[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://github.com/SuperHouse/esp-lwip.git
[submodule "extras/mbedtls/mbedtls"]
	path = extras/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "extras/jsmn/jsmn"]
	path = extras/jsmn/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "bootloader/rboot"]
	path = bootloader/rboot
	url = https://github.com/raburton/rboot.git
[submodule "extras/paho_mqtt_c/org.eclipse.paho.mqtt.embedded-c"]
	path = extras/paho_mqtt_c/org.eclipse.paho.mqtt.embedded-c
	url = https://git.eclipse.org/r/paho/org.eclipse.paho.mqtt.embedded-c
