[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://github.com/SuperHouse/esp-lwip.git
[submodule "extras/mbedtls/mbedtls"]
	path = extras/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "extras/jsmn/jsmn"]
	path = extras/jsmn/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "bootloader/rboot"]
	path = bootloader/rboot
	url = https://github.com/raburton/rboot.git
[submodule "extras/spiffs/spiffs"]
	path = extras/spiffs/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "tests/unity"]
	path = tests/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "tests/fs-test"]
	path = tests/fs-test
	url = https://github.com/sheinz/fs-test
[submodule "extras/bearssl/BearSSL"]
	path = extras/bearssl/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "extras/http-parser/http-parser"]
	path = extras/http-parser/http-parser
	url = https://github.com/nodejs/http-parser
